* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    padding: 0 calc(25vw - 100px);
}

.title {
    text-align: center;
    font-size: 48px;
}

img {
    display: block;
    height: 300px;
    width: auto;
    margin: 0 auto;
}

html {
    background-color: #F1F2F3;
    color: #212223;
}

.recipe-list {
    margin-left: 5vw;
}

.recipe {
    box-sizing: border-box;
    border: 5px solid black;
    padding: 8px;
    margin: 1em auto;
}